{% extends "base.jinja2" %}

{% block content_inner %}
    <h3 class="text-gray-700 text-3xl font-medium">Tunnle Overview</h3>

    <div class="mt-4">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
            {% for client in person.clients %}
                {% include "components/client_card.jinja2" %}
            {% endfor %}

            {##}
            {#            <div class="flex items-center px-5 py-6 shadow-sm rounded-md bg-white">#}
            {#                <div class="p-3 rounded-full bg-indigo-600 bg-opacity-75">#}
            {#                </div>#}
            {#                <div class="mx-5">#}
            {#                    <h4 class="text-2xl font-semibold text-gray-700">8,282</h4>#}
            {#                    <div class="text-gray-500">New Users</div>#}
            {#                </div>#}
            {#            </div>#}
            {##}
            {#            <div class="flex items-center px-5 py-6 shadow-sm rounded-md bg-white">#}
            {#                <div class="p-3 rounded-full bg-indigo-600 bg-opacity-75">#}
            {#                </div>#}
            {#                <div class="mx-5">#}
            {#                    <h4 class="text-2xl font-semibold text-gray-700">8,282</h4>#}
            {#                    <div class="text-gray-500">New Users</div>#}
            {#                </div>#}
            {#            </div>#}
            {##}
            {#            <div class="flex items-center px-5 py-6 shadow-sm rounded-md bg-white">#}
            {#                <div class="p-3 rounded-full bg-indigo-600 bg-opacity-75">#}
            {#                </div>#}
            {#                <div class="mx-5">#}
            {#                    <h4 class="text-2xl font-semibold text-gray-700">8,282</h4>#}
            {#                    <div class="text-gray-500">New Users</div>#}
            {#                </div>#}
            {#            </div>#}
            {##}
            {#            <div class="flex items-center px-5 py-6 shadow-sm rounded-md bg-white">#}
            {#                <div class="p-3 rounded-full bg-indigo-600 bg-opacity-75">#}
            {#                </div>#}
            {#                <div class="mx-5">#}
            {#                    <h4 class="text-2xl font-semibold text-gray-700">8,282</h4>#}
            {#                    <div class="text-gray-500">New Users</div>#}
            {#                </div>#}
            {#            </div>#}
            {##}
            {#            <div class="flex items-center px-5 py-6 shadow-sm rounded-md bg-white">#}
            {#                <div class="p-3 rounded-full bg-indigo-600 bg-opacity-75">#}
            {#                </div>#}
            {#                <div class="mx-5">#}
            {#                    <h4 class="text-2xl font-semibold text-gray-700">8,282</h4>#}
            {#                    <div class="text-gray-500">New Users</div>#}
            {#                </div>#}
            {#            </div>#}


        </div>

    </div>
{% endblock %}



{% block body_inner %}
    {{ super() }}
    <script type="text/javascript" src="static/js/dashboard.js"></script>
{% endblock %}
