{% extends "base.jinja2" %}

{% block content_inner %}
    <h3 class="text-gray-700 text-3xl font-medium">Tunnle Overview</h3>

    <div class="mt-4">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
            {% for client in person.clients %}
                {% include "components/client_card.jinja2" %}
            {% endfor %}
        </div>
    </div>
{% endblock %}



{% block body_inner %}
    {{ super() }}
    <script type="text/javascript" src="/static/js/statistic.js"></script>
{% endblock %}
