{% extends "general.jinja2" %}

{% block head_inner %}
    {{ super() }}
    <link rel="stylesheet" href="static/css/tailwind.css"/>
{% endblock %}

{% block body_inner %}
    {% include "components/flash.jinja2" %}
{% endblock %}
