{% extends "general.jinja2" %}

{% block head_inner %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/tailwind.css"/>
{% endblock %}

{% block body_inner %}
    {% include "components/flash.jinja2" %}
    <div>
        <div class="flex h-screen bg-gray-200">
            {#            <div :class="sidebarOpen ? 'block' : 'hidden'" @click="sidebarOpen = false"#}
            {#                 class="fixed z-20 inset-0 bg-black opacity-50 transition-opacity lg:hidden"></div>#}
            {% include "components/sidebar.jinja2" %}

            <div class="flex-1 flex flex-col overflow-hidden">
                {% include "components/header.jinja2" %}
                <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
                    <div class="container mx-auto px-6 py-8">
                        {% block content_inner %}
                        {% endblock %}
                    </div>
                </main>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/backend.js"></script>
{% endblock %}
