<!DOCTYPE html>
<html lang="en">
<head>
    {% block head_inner %}
        <meta charset="UTF-8">
        <title>{% block title_inner %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
{% block body_inner %}
{% endblock %}
</body>
</html>
