<a class="shadow-sm rounded-md bg-white wgpeer h-28 flex"
   data-fname="{{ client.filename }}" href="{{ url_for("tunnel_detail",  filename=client.filename) }}">

    <div class="flex px-5 py-6 items-center flex-auto">
        <div class="p-3 rounded-full bg-indigo-600 bg-opacity-75 flex-none indicator">
        </div>
        <div class="mx-5 justify-self-start">
            <h4 class="text-2xl font-semibold text-gray-700">{{ client.device_name }}</h4>
            <div class="text-gray-500">{{ person.email }}</div>
        </div>
    </div>

    <div class="flex items-right">
        <div class="py-2">
            {% include "components/rxtx_graph.jinja2" %}
        </div>
        <div class="items-center flex p-3 hover:bg-red-100 rounded-r-md">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6" viewBox="0 0 448 512">
                <!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                <path d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM394.8 466.1C393.2 492.3 372.3 512 346.9 512H101.1C75.75 512 54.77 492.3 53.19 466.1L31.1 128H416L394.8 466.1z"/>
            </svg>
        </div>
    </div>
</a>
