<footer class="container mx-auto px-6">
    <div class="mt-16 border-t-2 border-gray-300 flex flex-col items-center">
        <div class="sm:w-2/3 text-center py-6">
            <p class="text-sm text-blue-700 font-bold mb-2">
                © {{ now.year }} by Stefan Eiermann {{ version }}
            </p>
        </div>
    </div>
</footer>
