<div class="grid grid-cols-2 gap-2 min-h-full mr-2">
    <div class="flex flex-col justify-between row-span-1">
        <div class="w-6 text-center inline-block flex-none">
            rx
        </div>
        <div class="w-full align-bottom bg-black inline-block rx ease-in duration-300">
        </div>
    </div>
    <div class="flex flex-col justify-between row-span-1 relative">
        <div class="w-6 text-center inline-block flex-none">
            tx
        </div>
        <div class="w-full align-bottom bg-black inline-block tx ease-linear duration-300">
        </div>
    </div>
</div>
