<div class="grid grid-cols-2 gap-2 mr-2 max-h-64 z-10 block relative h-full">
    <div class="flex flex-col justify-between row-span-1">
        <div class="w-6 text-center flex-none">
            rx
        </div>
        <div class="w-full align-bottom bg-black inline rx ease-in duration-300">
        </div>
    </div>
    <div class="flex flex-col justify-between row-span-1">
        <div class="w-6 text-center inline flex-none">
            tx
        </div>
        <div class="w-full align-bottom bg-black inline tx ease-linear duration-300">
        </div>
    </div>
</div>
