{% extends "base.jinja2" %}

{% block body_inner %}
    <div class="flex flex-col items-center justify-center w-screen h-screen bg-gray-200 text-gray-700">
        {{ super() }}
        <form class="flex flex-col bg-white rounded shadow-lg p-12 mt-12" action="">
            <h1 class="text-lg">wgui - Login</h1>
            {% for idp in handlers %}
                <a href="{{ url_for('flask_saml2_sp.login_idp', entity_id=idp.entity_id, next=login_next) }}"
                   class="flex items-center justify-center h-12 px-6 w-64 bg-blue-600 mt-8 rounded font-semibold text-sm text-blue-100 hover:bg-blue-700">
                    {{ idp.display_name }}
                </a>
                {##}
                {##}
                {#                <li>#}
                {#                    <a href="{{ url_for('.login_idp', entity_id=idp.entity_id, next=login_next) }}">{{ idp }}</a>#}
                {#                </li>#}
            {% endfor %}
            <!--
            <div class="flex mt-6 justify-center text-xs">
                <a class="text-blue-400 hover:text-blue-500" href="#">Forgot Password</a>
                <span class="mx-2 text-gray-300">/</span>
                <a class="text-blue-400 hover:text-blue-500" href="#">Sign Up</a>
            </div>
            -->
        </form>
    </div>
{% endblock %}
